
## Fill it with your data and rename to config.json

# all fields are required

{
    "trello":{
        "app_key": "",
        "comment": "",
        "token": "",

        "myUserId": "",
        "doingListId": ""

    },
    "toggl": {
        "token": "",
        "workspaceId": 
    }
}
